*,*::after,*::before{
    box-sizing:border-box;
}

:root {
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: Georgia, serif;

    --color-netural-lighter: #edf0ed;
    --color-netural-light: #d2dad2;
    --color-netural-mediumer: #b3bdb3;
    --color-netural-medium: #788578;
    --color-netural-dark: #304830;

    --color-main-light:#e4fcd1;
    --color-main-medium:#6dd21d;
    --color-main-dark:#234905;

    --color-black: #000;
    --color-white: #fff;

    --header-height:3rem;

}

head {
    font-family:var(--font-sans);
}

body {
    margin:0;
    font-size:100%;
    font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
    color:white;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-serif);
}

a:hover{
    text-decoration: underline;
}


/* Layout Classes*/


.hidden{display: none;}

.display-flex {display: flex; }
.display-block {display: block;}
.display-inline-flex {display: inline-flex;}
.display-inline-block {display: inline-block;}

.flex-stretch {flex: 1 1 auto; }
.flex-none {flex:none; }

.flex-align-center {align-items:center;}
.flex-justify-center { justify-content: center;}

.flex-column { flex-direction:column; }

.overscroll{
    width:100%;
    height:100%;
    overflow:auto;
}


/*FORMS */
.form-control {
    margin: 1em 0;
}

.form-label {
    font-size:0.8em;
    color:#7f7d71;
    margin:0.5rem 0;
}

.ui-mobile label{
    margin:0.5rem 0;
}

.form-input{
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: #f6f6f6;
    font: inherit;
    padding:0.5em 1em;
    margin: 0;
    outline: 0;
}

.form-button{
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: #570c10;
    font: inherit;
    color: white;
    padding:0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
}


#signup-form,
#signin-form{
    padding:1em;
}

.signin-alt {
    padding:1em;
    text-align:center;
    font-size:0.8em;
}

#recent-page [data-role='main'] {
    background-image:url(../image/Map.png);
    background-position:center;
    background-size:cover;
}


/*Page Layout*/
.ui-mobile .ui-page-active {
    display:flex;
    flex-direction:column;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

[data-role='main'] {
    flex: 1 1 100%;
    overflow:hidden;
    position:relative;
}

.ui-header,
.ui-footer {
    flex:none;
    height:3rem;
    line-height:3rem;
    border-width:0;
    background-color:#7f7d71;
    box-shadow:0 0 5px rgba(0,0,0,1);
    opacity: 0.5;
    overflow:hidden;
    position:relative;
}

.ui-header .ui-title{
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
}


.ui-header ul,
.ui-footer ul {
    position: relative;
    display: flex;
    list-style-type:none;
    margin:0;
    padding:0;
}

.ui-footer li {
    flex: 1 1 auto;
    text-align:center;

}

.ui-header a,
.ui-footer a {
    display: block;
    padding: 0 1em;
}


/*popup*/
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index:10;
}

.modal.active{
    opacity:1;
}
.modal-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7f7d71;
    opacity: 0.5;
}

.modal-popup{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,calc(-50% + 3em));
    transition: all 0.3s;
    width: 80vw;
}

.modal-body{
    border-radius: 25px;
    background-color: white;
    padding: 1em;
}

.modal-head, .modal-foot {
    border-radius: 25px;
    color: white;
    background-color:#7f7d71;
    padding: 0.5em 1em;
    text-align: center;
}

.modal.active .modal-back,
.modal.active .modal-popup{
    pointer-events: initial;
}

.modal.active .modal-popup {
    transform:translate(-50%,-50%);
}

/*draw*/

.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
    height:100%;
    width:70vw;
}

.model-drawer.left{
    left:0;
    transform: translateX(-100%);
}
.modal-drawer.right{
    right:0;
    transform: translateX(100%);
}

.modal-drawer.top,
.modal-drawer.bottom {
    height:30vh;
    width:100%;
}

.modal-drawer.top{
    top:0;
    transform: translateY(-100%);
}
.modal-drawer.bottom{
    bottom:0;
    transform: translateY(100%);
}

.modal.active .modal-drawer {
    transform:translate(0);
    pointer-events:initial;
}

.modal-drawer .modal-body {
    flex: 1 1 100%;
}

.modal-foot input {
    display:block;
    width:100%;
    text-align:right;
    border-width:0;
    font-weight:bold;
    background-color:transparent;
    outline:0;
}

.modal-toast {
    position: absolute;
    width: 50%;
    background-color: brown;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    border-radius: 0.2em;
    padding: 1em;
    text-align: center;
    left: 50%;
    transition: all 0.3s;
}

.modal-toast.top {
    top:1em;
    transform: translate(-50%,-1em);
}

.modal-toast.bottom {
    bottom:1em;
    transform: translate(-50%,1em);
}

.modal.active .modal-toast {
    transform: translate(-50%,0);
    pointer-events: initial;
}



/*floater*/
.floater {
    position:absolute;
}
.floater.right {
    right:1em;
}
.floater.left {
    left:1em;
}
.floater.top {
    top:1em;
}
.floater.bottom {
    bottom:1em;
}


/*circle button*/
.btn-circle {
    background: #7f7d71;
    color:white;
    border-radius: 50%;
    line-height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    font-size: 1.5em;
}

.setting-btn {
    position:absolute;
    top: 1px;
    right: 2px;
}

/*profile*/
.profile-image img {
    border-radius: 50%;
    width: calc(100vw - 4em);
    height: calc(100vw - 4em);
    border:1px solid #570c10;
    object-fit: cover;
    margin: 2em;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.profile-body {
    position: 1em;
    margin:2em;
}

.profile-name {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #570c10;
}

.profile-email {
    font-size: 1em;
    margin-bottom: 2em;
    border: 1px solid #570c10;
    padding:1em;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}


.settings-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settings-item a{
    display: block;
    padding: 1em 1em;
    border-bottom: 1px solid #7f7d71;
    position: relative;
}

.settings-item a:not([href='#'])::after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
}


.ghostlist-image img {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    object-fit: cover;
    vertical-align: text-bottom;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.animallist-item {
    display: flex;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.ghostlist-description {
    padding: 0.5em;
    text-align: center;
    margin-bottom: 3em;
}

.ghostlist-type,
.ghostlist-breed {
    font-size: 0.8em;
}

.ghostlist-name {
    font-size: 1.2em;
}



.nav-icon img {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin:0.2em;
}

.nav-icon {
    line-height: calc(3em * 0.6);
    font-size: 1.5em;
}

.nav-label {
    line-height: calc(3em *0.4);
    font-size: 0.7em;
}


.logout-button {
    display: inline-block;
    width: 50%;
    border-width: 0;
    background-color: #570c10;
    font: inherit;
    color: white;
    position: absolute;
    bottom: 5%;
    left:50%;
    padding:1em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    transform: translate(-50%, -50%);
}

.color {
    color:white;
}

.ghost-description {
    font-size: 12px;
    text-align: left;
    color:white;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
    border: 1px solid #570c10;
    background-color: #7f7d71;
    box-shadow:0 0 5px rgba(0,0,0,1);
}